body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-y: hidden;
  }
  
  .navbar {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar .container-m {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .navbar-brand {
    float: left;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-li {
    display: inline;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
  }
  
  .nav-link:hover {
    background-color: #575757;
  }
  
  .hero-section {
    background: linear-gradient(to right, #a7b3b6, #4f5e73);
    color: #fff;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 50px;
    margin: 0;
  }
  
  .hero-section p {
    font-size: 20px;
  }
  